h1{
    background-color: aqua;
    color: black;
    font-size: 30px;
    font-weight: 600;
}
h2{
    background-color: antiquewhite;
    color: brown;
    font-size: medium;
    font-weight: 400;

}